.Controller{
    margin: 0 0 0 0;
    position: absolute;
    padding: 1rem 0.5rem;
    right: 0;
    display: flex;
    width: fit-content;
    min-height: 20%;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    background: rgba(100,100,100,0.3);
}

.button{
    border: 0;
    width: 4rem;
    height: 2rem;
}
.connectButton{
    width: 5rem;
    height: 2rem;
}